.home_section{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    
}


 .images1{
    height: 75vh;
}

@media (max-width: 798px) {
    .home_section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
    }

    .home{
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        align-items: center;

    }
    
}
